@import "../scss/utils/mixins";
@import "../scss/utils/reset";
@import "../scss/utils/variables";

@import "../scss/modules/header";
@import "../scss/modules/main";
@import "../scss/modules/footer";

html {
  font-family: $body-font;
  font-size: 10px;
  color: $body-font-color;
  scroll-behavior: smooth;
}

section {
  padding: 2.5rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  font-size: 1.6rem;
}

.container {
  padding: 0 2.5rem;
}