.restaurant-info {
  text-align: center;

  .restaurant-description {
    margin-bottom: 3rem;

    p {
      line-height: 1.6;
      margin-bottom: 2.4rem;
    }

    .body-btn {
      background: none;
      border: none;
      color: $secondary-font-color;
      position: relative;
      transition: color .5s;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;

      &::before {
        content: '';
        position: absolute;
        left: 25%;
        bottom: -5px;
        width: 50%;
        height: 2px;
        background-color: $secondary-font-color;
        transition: .5s all;
      }

      &:hover,
      &:focus {
        color: $main-font-color-dark;
      }

      &:hover::before,
      &:focus::before {
        background-color: $main-font-color-dark;
        width: 100%;
        left: 0;
      }
    }
  }
}


.global-headline {
  text-align: center;

  .sub-headline {
    font-size: 8.5rem;
    font-family: $secondary-font;
    color: $secondary-font-color;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 0.42;
  }

  .headline-dark {
    font-size: 3.7rem;
    font-family: $main-font;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1.2rem;
    color: $main-font-color-dark;
    letter-spacing: .7rem;
  }

  .asterisk {
    margin: 2.4rem 0;
  }
}