.restaurant-info {
  text-align: center;

  .restaurant-description {
    margin-bottom: 3rem;

    p {
      line-height: 1.6;
      margin-bottom: 2.4rem;
    }
  }
}

.global-headline {
  text-align: center;

  .sub-headline {
    font-size: 8.5rem;
    font-family: $secondary-font;
    color: $secondary-font-color;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 0.42;
  }

  .headline {
    font-size: 3.7rem;
    font-family: $main-font;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1.2rem;
    color: $main-font-color-white;
    letter-spacing: .7rem;
  }

  .headline-dark {
    font-size: 3.7rem;
    font-family: $main-font;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1.2rem;
    color: $main-font-color-dark;
    letter-spacing: .7rem;
  }

  .asterisk {
    margin: 2.4rem 0;
  }
}

// Tasteful-recipes
.tastefull-recipes {
  position: relative;

  img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include size($width:100%, $height: 100%);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.between {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


// Discover our menu
.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: 60%;
  margin: 0 auto;
  img{
    object-fit: cover;
  }
}

.restaurant-description {
  padding-top: 3.9rem;
  margin-bottom: 1.5rem;

  p {
    margin-bottom: 3rem;
  }
}

// Perfect Blend
.perfect-blend {
  position: relative;

  img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include size($width:100%, $height: 100%);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.body-btn {
  background: none;
  border: none;
  color: $secondary-font-color;
  position: relative;
  transition: color .5s;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -5px;
    width: 50%;
    height: 2px;
    background-color: $secondary-font-color;
    transition: .5s all;
  }

  &:hover,
  &:focus {
    color: $main-font-color-dark;
  }

  &:hover::before,
  &:focus::before {
    background-color: $main-font-color-dark;
    width: 100%;
    left: 0;
  }
}